# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Logs
*.log

# Generated output
output/*.mp4

# Training runs
runs/
tt_ball_model-2/

# Secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

yolov8x.pt
src/model/yolov8x.pt